In [23]:
# python tuples datatype

thistuple = ("apple","banna", "cherrry")
print(thistuple)

thistuple = ("apple","banna", "cherrry","apple","cherry")
print(thistuple)

thistuple = ("apple",)
print(type(thistuple))

# not a tuple

thistuple = ("apple",)
print(type(thistuple))

# data items data type
tuple1 = ("apple ","bananaa","cherry")
tuple2 = (1,2,3,4,5,6,7,8,9)
tuple3 = (True , False , False)

print(tuple1)
print(tuple2)
print(tuple3)

tuple = ("abc",34,True, 46,"male")
print(tuple)

('apple', 'banna', 'cherrry')
('apple', 'banna', 'cherrry', 'apple', 'cherry')
<class 'tuple'>
<class 'tuple'>
('apple ', 'bananaa', 'cherry')
(1, 2, 3, 4, 5, 6, 7, 8, 9)
(True, False, False)
('abc', 34, True, 46, 'male')

In [29]:
# constructor() tuple

thistuple = ("apple","banna", "cherrry")
print(thistuple)

thistuple2 = (1,2,3,4,5,6,7,8)
print(thistuple2)


#repetition()tuple


tuple1 = ("v","e","n","u",)
tuple2 = (1,2,3,4,5,6,8,0,9,)
result=tuple1+tuple2*5
print(result)

('apple', 'banna', 'cherrry')
(1, 2, 3, 4, 5, 6, 7, 8)
('v', 'e', 'n', 'u', 1, 2, 3, 4, 5, 6, 8, 0, 9, 1, 2, 3, 4, 5, 6, 8, 0, 9, 1, 2, 3, 4, 5, 6, 8, 0, 9, 1, 2, 3, 4, 5, 6, 8, 0, 9, 1, 2, 3, 4, 5, 6, 8, 0, 9)

In [30]:
# access tuple()
thistuple = ("apple","banna", "cherrry")
print(thistuple[1]) 

thistuple = ("apple","banna", "cherrry")
print(thistuple[0])

thistuple = ("apple","banna", "cherrry")
print(thistuple[2])

thistuple = ("apple","banna", "cherrry")
print(thistuple[-1])

banna
apple
cherrry
cherrry

In [31]:
# index
thistuple = ("apple","cherry","banana","orange","kiwi","melon","mango")
print(thistuple[2:5])
print(thistuple[3:5])
print(thistuple[-1:5])
print(thistuple[1:5])
print(thistuple[0:])
print(thistuple[3:5])
print(thistuple[4:5])
print(thistuple[3:7])

('banana', 'orange', 'kiwi')
('orange', 'kiwi')
()
('cherry', 'banana', 'orange', 'kiwi')
('apple', 'cherry', 'banana', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi')
('kiwi',)
('orange', 'kiwi', 'melon', 'mango')

In [32]:
# unchangeable or immutable

x = (" apple","banana","cherry")
y = list(x)
y = "kiwi"
x =tuple(y)
print(x)

TypeError: 'tuple' object is not callable

In [33]:
thistuple = (" apple","banana","cherry")
y = list(thistuple)
y.append("orange")
thistuple =tuple(y)
print(thistuple)

TypeError: 'tuple' object is not callable

In [2]:
# loop throught a tuples()

thistuple = (" apple","banana","cherry")
for x in thistuple:
    print(x)
    
thistuple = (" apple","banana","cherry")
for i in  range (len(thistuple)):
    print(thistuple[i])

 apple
banana
cherry
 apple
banana
cherry

In [22]:
# methods

#join

tuple1 = ("a","b","c",)
tuple2 = (1,2,3,4,5)
tuple3 = tuple1 + tuple2
print(tuple3)


fruits = ("apple","cherry","banana")
mytuple = fruits *2
print(mytuple)


# count


thistuple = (1,4,6,7,8,9,4,0)
x = thistuple.count(5)
print(x)
x = thistuple.count(2)
print(x)
x = thistuple.count(4)
print(x)
x = thistuple.count(1)
print(x)

x = thistuple.count(6)
print(x)

# index

thistuple = (1,6,7,8,9,4,2,3,0,5,3)
x = thistuple.index(8)
print(x)
x = thistuple.index(7)
print(x)
x = thistuple.index(6)
print(x)
x = thistuple.index(5)
print(x)
x = thistuple.index(4)
print(x)
x = thistuple.index(3)
print(x)
x = thistuple.index(2)
print(x)
x = thistuple.index(1)
print(x)
x = thistuple.index(0)
print(x)

# length


thistuple = ("apple","cherry","banana","orange","kiwi","melon","mango")
print(len(thistuple))

thistuple = (" apple","banana","cherry")
print(len(thistuple))

thistuple = ("apple","cherry","banana","orange","kiwi","","mango")
print(len(thistuple))


# membership()


thistuple = (1,2,3,4,5,6,7,8)
print(2 in thistuple)
print(9 in thistuple)
print(0 in thistuple)
print(5 in thistuple)
                  
# slicing tuples

thistuple = (1,2,3,4,5,6,7,8,) 
print(thistuple[1:4])
print(thistuple[3:5])
print(thistuple[3:6])
print(thistuple[1:])
print(thistuple[4:6])

# cancatenating tuples
tuple1 =(1,2,3)
tuple2 =(4,5,6)
tuple3 = tuple1+tuple2
print(tuple3)


#tuple unpacking
thistuple =(10,20,30,)
a,b,c = thistuple
print(a)
print(b)
print(c)

('a', 'b', 'c', 1, 2, 3, 4, 5)
('apple', 'cherry', 'banana', 'apple', 'cherry', 'banana')
0
0
2
1
1
3
2
1
9
5
7
6
0
8
7
3
7
True
False
False
True
(2, 3, 4)
(4, 5)
(4, 5, 6)
(2, 3, 4, 5, 6, 7, 8)
(5, 6)
(1, 2, 3, 4, 5, 6)
10
20
30