In [2]:
def my_function():
    print("hello ")
    
my_function()

hello

In [3]:
def function():
    print("venugopal")
function()

venugopal

In [13]:
def my_function(fname):
    print(fname +" " +"refsnes")
    
my_function("email,")
my_function("venu,")
my_function("number,")

email, refsnes
venu, refsnes
number, refsnes

In [12]:
def my_function(fname, lname):
    print(fname +" "+ lname)
my_function("emali",  "resfsnes")

emali resfsnes

In [14]:
def my_function(*kids):
    print("the youngest child is "+ kids [2])
my_function("emali","tobias","linus")

the youngest child is linus

In [19]:
def my_function(**kid):
    print("His last name is " + kid["lname"])
    
my_function(fname = "tabias", lname = "refsnes")

His last name is refsnes

In [22]:
def my_function(country = "india"):
    print("i am from " + country)
my_function("sweden")
my_function("norway")
my_function()
my_function("brazil")

i am from sweden
i am from norway
i am from india
i am from brazil

In [29]:
def my_function(food):
    for x in food:
      print(x)
fruits = ["apple", "banana","cherry"]
my_function(fruits)

apple
banana
cherry

In [35]:
def my_function(x):
  return 3 * x
print(my_function(3))
print(my_function(9))
print(my_function(5))

9
27
15

In [40]:
def my_function(x):
  return x * x
print(my_function(3))
print(my_function(9))
print(my_function(5))

9
81
25

In [41]:
def my_function(x, /):
    print(x)
my_function(3)

3

In [42]:
def my_function(x):
    print(x)
my_function(x = 6)

6

In [43]:
def my_function(*, x):
    print(x)
my_funtion(x = 9)

27

In [44]:
def my_function(a,b, /,*, c, d):
    print(a + b + c + d)
my_function(3,5, c= 8,d = 6)

22

In [54]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result
print("\n\nrecursion example results")
tri_recursion(6)

recursion example results
1
3
6
10
15
21

21

In [55]:
x = lambda a : a + 10
print(x(5))

15

In [58]:
x =lambda a,b,c : a + b + c
print(x(2,4,7))

13

In [56]:
x = lambda a ,b:  a * b
print(x(3,9))

27

In [60]:
def myfunc(n):
    return lambda a : a * n
mydoubler = myfunc(2)
print(mydoubler(11))

22

In [63]:
def myfunc(n):
    return lambda a : a * n
mytripler = myfunc(9)
print(mytripler(11))

99

In [66]:
def myfunc(n):
    return lambda a : a * n
myduobler = myfunc(8)
mytripler = myfunc(4)
print(myduobler(11))
print(mytripler(11))

88
44

In [80]:
def even_or_odd(n):
    if n%2==0:
        print("Even number")
    else:
        print("Odd number")
even_or_odd(2)
even_or_odd(3)
even_or_odd(90)

Even number
Odd number
Even number

In [89]:
def mini(a,b,c):
    if a<b and a<c:
        print(a)
    elif b<a and b<c:
        print(b)
    else:
        print(c)
mini(9,22,9) 
mini(34,5,23)

9
5

In [92]:
def mixi(a,b,c):
    if a<b and a<c:
        print(a)
    elif b<a and b<c:
        print(b)
    else:
        print(c)
mixi(4,7,9) 
mixi(34,5,23)

4
5

In [1]:
def f():
    s = "i am a good boy "
    print(s)
f()

i am a good boy

In [2]:
def f():
    s =" i love u python "
    print("inside function:", s )
    print(s)
f()

inside function:  i love u python
 i love u python

In [4]:
def f():
    g ="me too,"
    print(g)
g = "i love python "
f()
print(g)

me too,
i love python

In [11]:
def f():
    global s
    s += 'gfg'
    print("look for python section")
    print(s)
s = "i love python"
f()
print(s)

look for python section
i love pythongfg
i love pythongfg

In [21]:
a = 2 

# user global because there is  no local'a'

def f():
    print('inside f() :',a)
    
  # variable a is redefined as a lacal

def g():
    a =5
    print('inside g() :',a)
    
#user global keyword to modify global 'a'

def h():
    global a
    a = 3
    print('inside h():',a)
    
    
 # global scope

print('global :', a)
f()
print('global :', a)
g()
print('global :', a)
h()
print('global :', a)

global : 2
inside f() : 2
global : 2
inside g() : 5
global : 2
inside h(): 3
global : 3