In [2]:
# string  data type 

a = "hello"
b = 'world'
c = ''' he is called "venu" '''
d = " he is called 'venu' "
e = "it's alright"
print(a)
print(b)
print(c)
print(d)
print(e)

print("hello")
print('world')
print(''' he is called "venu" ''')
print(" he is called 'venu' ")
print(" he is called 'venu' ")

print(a,b,c,d,e)

hello
world
 he is called "venu"
 he is called 'venu'
it's alright
hello
world
 he is called "venu"
 he is called 'venu'
 he is called 'venu'
hello world  he is called "venu"   he is called 'venu'  it's alright

In [11]:
# concatetions
a = "hello"
b = "world"
c = a + " " + b
print(c)

a = "hello"
b = 'world'
c = a + b
print(c)

a = 'hello'
b = "world"
c = a + " " + b
print(c)

a = 'hello'
b = 'world'
c = a + ' ' + b
print(c)

hello world
helloworld
hello world
hello world

In [17]:
# repetition
str1 = "venu,"
str2 = "nani,"
str3 = "mohan,"
result = (str1 + str2 + str3)
print(result * 5)

str1 = "venu."
str2 = "nani."
str3 = "mohan."
result = (str1 + str2 + str3)
print(result * 5)

str1 = 'venu,'
str2 = 'nani,'
str3 = 'mohan,'
result = (str1 + str2 + str3)
print(result * 5)

str1 = '''venu,'''
str2 = '''nani,'''
str3 = '''nani,'''
result = (str1 + str2 + str3)
print(result * 5)

str1 = """venu,"""
str2 = """nani,"""
str3 = """mohan,"""
result = (str1 + str2 + str3)
print(result * 5)

venu,nani,mohan,venu,nani,mohan,venu,nani,mohan,venu,nani,mohan,venu,nani,mohan,
venu.nani.mohan.venu.nani.mohan.venu.nani.mohan.venu.nani.mohan.venu.nani.mohan.
venu,nani,mohan,venu,nani,mohan,venu,nani,mohan,venu,nani,mohan,venu,nani,mohan,
venu,nani,nani,venu,nani,nani,venu,nani,nani,venu,nani,nani,venu,nani,nani,
venu,nani,mohan,venu,nani,mohan,venu,nani,mohan,venu,nani,mohan,venu,nani,mohan,

In [24]:
# string format()

age = 36
txt = "my name is venu, i am "+ age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [26]:
age = 35
txt = f"my name is venu ,i am  {age} "
print(txt)

price = 57
txt = f"the price is {price} dollars "
print(txt)

price = 90
txt = f"the price is {price:.2f} dollars "
print(txt)


txt = f"the price is {20 * 59} dollars "
print(txt)

my name is venu ,i am  35
the price is 57 dollars
the price is 90.00 dollars
the price is 1180 dollars

In [28]:
# index 
a = "hello,welcome to my world."
x = a.index ("welcome")
print(x)


a = "hello,welcome to my world."
x = a.index ("e")
print(x)

a = "hello,welcome to my world."
x = a.index ("e" , 5, 10)
print(x)

6
1
7

In [30]:
# slicing

b = " hello , world"
print(b [2:5])
print(b [-1:5])
print(b [1:5])
print(b [6:8])
print(b [9:10])
print(b [3:9])

ell

hell
 ,
w
llo ,

In [36]:
# string length

a = "this is a python program "
print(len(a))

h = "this is a python program "
print(len(h))

n = "this is a python program "
print(len(n))

y = "this is a python program "
print(len(y))

s = "this is a python program "
print(len(s))

25
25
25
25
25

In [38]:
# upper cases

a = "name is venugopal"
print(a.upper())

#lower cases 
b = "this is a notebook "
print(a.lower())

NAME IS VENUGOPAL
name is venugopal

In [45]:
# remove whitespace
a =" hello, world! "
print(a.strip())

a = ' hello, world! '
print(a.strip())

a =" hello,"" world! "
print(a.strip())

hello, world!
hello, world!
hello, world!

In [46]:
# replace()
a = "hello ,world!"
print(a.replace("h","j"))

a = "hello ,world!"
print(a.replace("r","b"))

a = "hello ,world!"
print(a.replace("l","v"))

a = "hello ,world!"
print(a.replace("w","g"))

jello ,world!
hello ,wobld!
hevvo ,worvd!
hello ,gorld!

In [54]:
# split string()
a = "my name is venugopal"
x = (a.split())
print(x)

a = "apple, banna, cherry"
print(a.rsplit(","))

a = " hello, world! "
print(a.split(","))

['my', 'name', 'is', 'venugopal']
['apple', ' banna', ' cherry']
[' hello', ' world! ']

In [56]:
# join string

a =( "venu","nani","mani","mohan")

x = "#".join(a)
print(x)



a =( "venu","nani","mani","mohan")

x = "%".join(a)
print(x)


a =( "venu","nani","mani","mohan")

x = "*".join(a)
print(x)

venu#nani#mani#mohan
venu%nani%mani%mohan
venu*nani*mani*mohan

In [58]:
# fina string
a = " hello, welcome to my world"
x = a.find("welcome")
print(x)

a = " hello, welcome to my world"
x = a.find("hello")
print(x)


a = " hello, welcome to my world"
x = a.find("my")
print(x)

a = " hello, welcome to my world"
x = a.find("world")
print(x)

8
1
19
22