In [1]:
# list python

#  list
my_list = (1,2,3,4,5,)
print(my_list)

(1, 2, 3, 4, 5)

In [7]:
# creating list with numbe
list1 = (2,3,4,5,6,7)
list1 = (7,3,4,9,6,7)
list1 = (2,3,4,5,6,7)
list1 = (2,3,4,5,6,7)

print(list1[1])
print(list1[0])
print(list1[3])
print(list1[2])

#creating list with strings
list1 = ("mani","nani","mohan","venu",)
list1 = ("babai","dada","tani","gopal",)
list1 = ("rani","raju","banni","ramya",)
list1 = ("nayana","brama","nila","bhai",)

print(list1[1])
print(list1[-1])
print(list1[0])
print(list1[2])

3
2
5
4
brama
bhai
nayana
nila

In [12]:
# slicing (numbers)

list1 = (2,3,4,5,6,7)
list2 = (7,3,4,9,6,7)
list3 = (2,3,4,5,6,7)
list4 = (2,3,4,5,6,7)

print(list1[1:4])
print(list2[0:2])
print(list3[3:])
print(list4[2:5])

# slicing (strings)
batch_1 = ("mani","nani","mohan","venu",)
batch_2 = ("babai","dada","tani","gopal",)
batch_3 = ("rani","raju","banni","ramya",)
batch_4 = ("nayana","brama","nila","bhai",)

print(batch_1[0:3])
print(batch_2[1:2])
print(batch_3[-3:3])
print(batch_4[0:1])

(3, 4, 5)
[6, 7]
[6, 7, 8]
[9, 0, 5]
('mani', 'nani', 'mohan')
('dada',)
('raju', 'banni')
('nayana',)

In [19]:
# list opertion

# concatenation 

# number

list1 = (2,3,4,5,6,7)
list2 = (7,3,4,9,6,7)
list3 = (2,3,4,5,6,7)
list4 = (2,3,4,5,6,7)

# strings 

batch_1 = ("mani","nani","mohan","venu",)
batch_2 = ("babai","dada","tani","gopal",)
batch_3 = ("rani","raju","banni","ramya",)
batch_4 = ("nayana","brama","nila","bhai")

print(list1 + list3)
print(list2 + list4)
print(batch_1 + batch_4)
print(batch_2 + batch_3)

(2, 3, 4, 5, 6, 7, 2, 3, 4, 5, 6, 7)
(7, 3, 4, 9, 6, 7, 2, 3, 4, 5, 6, 7)
('mani', 'nani', 'mohan', 'venu', 'nayana', 'brama', 'nila', 'bhai')
('babai', 'dada', 'tani', 'gopal', 'rani', 'raju', 'banni', 'ramya')

In [20]:
# repetition number 

list1 = (2,3,4,5,6,7)
list2 = (7,3,4,9,6,7)
list3 = (2,3,4,5,6,7)
list4 = (2,3,4,5,6,7)

print(list1 * 3)
print(list2 * 2)
print(list3 * 4)
print(list4 * 1)

# repetition (strings)
batch_1 = ("mani","nani","mohan","venu",)
batch_2 = ("babai","dada","tani","gopal",)
batch_3 = ("rani","raju","banni","ramya",)
batch_4 = ("nayana","brama","nila","bhai",)

print(batch_1 * 3)
print(batch_2 * 2)
print(batch_3 * 4)
print(batch_4 * 1)

(2, 3, 4, 5, 6, 7, 2, 3, 4, 5, 6, 7, 2, 3, 4, 5, 6, 7)
(7, 3, 4, 9, 6, 7, 7, 3, 4, 9, 6, 7)
(2, 3, 4, 5, 6, 7, 2, 3, 4, 5, 6, 7, 2, 3, 4, 5, 6, 7, 2, 3, 4, 5, 6, 7)
(2, 3, 4, 5, 6, 7)
('mani', 'nani', 'mohan', 'venu', 'mani', 'nani', 'mohan', 'venu', 'mani', 'nani', 'mohan', 'venu')
('babai', 'dada', 'tani', 'gopal', 'babai', 'dada', 'tani', 'gopal')
('rani', 'raju', 'banni', 'ramya', 'rani', 'raju', 'banni', 'ramya', 'rani', 'raju', 'banni', 'ramya', 'rani', 'raju', 'banni', 'ramya')
('nayana', 'brama', 'nila', 'bhai')

In [35]:
# methods
# 1 append()

list_1 = [2,3,4,5,6,78,9,10]
list_1.append(11)
print(list_1)

list_2 = [7,3,4,9,6,7]
list_2.append(15)
print(list_2)

batch_1 = ["mani","nani","mohan","venu",]
batch_1.append("maran")
print(batch_1)

batch_2 = ["babai","dada","tani","gopal",]
batch_2.append("nani")
print(batch_2)

[2, 3, 4, 5, 6, 78, 9, 10, 11]
[7, 3, 4, 9, 6, 7, 15]
['mani', 'nani', 'mohan', 'venu', 'maran']
['babai', 'dada', 'tani', 'gopal', 'nani']

In [56]:
# extend()
# number
list3 = [2,3,4,5,6,7]
more_numbers = (10,123,145)
list3.extend(more_numbers)
print(list3)

list4 = [2,3,4,5,6,7]
more_numbers = (10,123,145)
list4.extend(more_numbers)
print(list4)

#string

batch_3 = ["rani","raju","banni","ramya",]
more_names = ("gani","mahi","ravi")
batch_3.extend(more_names)
print(batch_3)

batch_4 = ["nayana","brama","nila","bhai",]
more_names = ("gani","mahi","ravi")
batch_4.extend(more_names)
print(batch_4)

[2, 3, 4, 5, 6, 7, 10, 123, 145]
[2, 3, 4, 5, 6, 7, 10, 123, 145]
['rani', 'raju', 'banni', 'ramya', 'gani', 'mahi', 'ravi']
['nayana', 'brama', 'nila', 'bhai', 'gani', 'mahi', 'ravi']

In [70]:
# insert
# number

list1 = [2,3,4,5,6,7]
list2 = [7,3,4,9,6,7]
list3 = [2,3,4,5,6,7]
list4 = [2,3,4,5,6,8]

list1.insert(4,7)
print(list1)
list2.insert(8,9)
print(list2)
list3.insert(88,99)
print(list3)
list4.insert(99,77)
print(list4)


#  (strings)

batch_1 = ["mani","nani","mohan","venu",]
batch_2 = ["babai","dada","tani","gopal",]
batch_3 = ["rani","raju","banni","ramya",]
batch_4 = ["nayana","brama","nila","bhai",]

batch_1.insert( 5,"ravi")
print(batch_1)          
batch_2.insert( 9,"siva")
print(batch_2)         
batch_3.insert( 7,"vovi")
print(batch_3)        
batch_4.insert( 6,"vivo")
print(batch_4)

[2, 3, 4, 5, 7, 6, 7]
[7, 3, 4, 9, 6, 7, 9]
[2, 3, 4, 5, 6, 7, 99]
[2, 3, 4, 5, 6, 8, 77]
['mani', 'nani', 'mohan', 'venu', 'ravi']
['babai', 'dada', 'tani', 'gopal', 'siva']
['rani', 'raju', 'banni', 'ramya', 'vovi']
['nayana', 'brama', 'nila', 'bhai', 'vivo']

In [74]:
# removes

# numbers

list1 = [2,3,4,5,6,7]
list2 = [7,3,4,9,6,7]
list3 = [2,3,4,5,6,7]
list4 = [2,3,4,5,6,8]

list1.remove(4)
print(list1)
list2.remove(7)
print(list2)
list3.remove(6)
print(list3)
list4.remove(8)
print(list4)


#  (strings)

batch_1 = ["mani","nani","mohan","venu",]
batch_2 = ["babai","dada","tani","gopal",]
batch_3 = ["rani","raju","banni","ramya",]
batch_4 = ["nayana","brama","nila","bhai",]

batch_1.remove( "venu")
print(batch_1)          
batch_2.remove( "dada")
print(batch_2)         
batch_3.remove( "rani")
print(batch_3)        
batch_4.remove( "nila")
print(batch_4)

[2, 3, 5, 6, 7]
[3, 4, 9, 6, 7]
[2, 3, 4, 5, 7]
[2, 3, 4, 5, 6]
['mani', 'nani', 'mohan']
['babai', 'tani', 'gopal']
['raju', 'banni', 'ramya']
['nayana', 'brama', 'bhai']

In [81]:
#pop

# numbers

list1 = [2,3,4,5,6,7]
list2 = [7,3,4,9,6,7]
list3 = [2,3,4,5,6,7]
list4 = [2,3,4,5,6,8]
poped_element = list1.pop(2)
print(list1)
print(poped_element)

poped_element = list2.pop(2)
print(list2)
print(poped_element)

poped_element = list4.pop(2)
print(list4)
print(poped_element)

poped_element = list3.pop(2)
print(list3)
print(poped_element)


#  (strings)

batch_1 = ["mani","nani","mohan","venu",]
batch_2 = ["babai","dada","tani","gopal",]
batch_3 = ["rani","raju","banni","ramya",]
batch_4 = ["nayana","brama","nila","bhai",]

poped_element = batch_1.pop(0)
print(batch_1)
print(poped_element)

poped_element = batch_2.pop(2)
print(batch_2)
print(poped_element)

poped_element = batch_3.pop(1)
print(batch_3)
print(poped_element)

poped_element = batch_4.pop(-1)
print(batch_4)
print(poped_element)

[2, 3, 5, 6, 7]
4
[7, 3, 9, 6, 7]
4
[2, 3, 5, 6, 8]
4
[2, 3, 5, 6, 7]
4
['nani', 'mohan', 'venu']
mani
['babai', 'dada', 'gopal']
tani
['rani', 'banni', 'ramya']
raju
['nayana', 'brama', 'nila']
bhai

In [88]:
# index
list1  = [1,2,3,4,5,6,7,8,9,10]
list2  = [11,22,33,44,55,77,66,99]
index = list1.index(10)
print(index)

index = list2.index(11)
print(index)


bacth_1 = ["venu", "nani", " mohan","kavya"]
batch_2 = ["mani","nani","kavya","venu"]

index = batch_1.index("nani")
print(index)

index = batch_2.index("venu")
print(index)

9
0
0
3

In [98]:
list1  = [1,2,3,4,5,6,7,8,9,10]
list2  = [11,22,33,44,55,77,66,99]

count = list1.count(9)
print(count)

count = list2.count(44)
print(count)


bacth_1 = ["venu", "nani", " mohan","kavya"]
batch_2 = ["mani","nani","kavya","venu"]

count = batch_1.count("kavya")
print(count)

count = batch_2.count("venu")
print(count)

1
1
0
1

In [107]:
# sort
# numbers

list1 = [9,0,8,7,6,5,4,3,2,]
list1.sort()
print(list1)


list2 = [0,8,7,6,5,4,44,33,]
list1.sort()
print(list2)
# string

batch_1 = ["vasu","ravi","rao","laala"]
batch_2 = ["hami","mahi","gharani","dada"]
batch_1.sort()
batch_2.sort()
print(batch_1)
print(batch_2)

[0, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 8, 7, 6, 5, 4, 44, 33]
['laala', 'rao', 'ravi', 'vasu']
['dada', 'gharani', 'hami', 'mahi']

In [110]:
# reverse
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [44,77,899,80,67,45,6]

list1.reverse()
print(list1)
list2.reverse()
print(list2)

batch_1 = ["vasu","ravi","rao","laala"]
batch_2 = ["hami","mahi","gharani","dada"]
batch_1.reverse()
batch_2.reverse()

print(batch_1)
print(batch_2)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[6, 45, 67, 80, 899, 77, 44]
['laala', 'rao', 'ravi', 'vasu']
['dada', 'gharani', 'mahi', 'hami']