In [24]:
hisset = {"apple","cherry","banana", True ,1,3,False}
print(thisset)

{False, True, 3, 'apple', 'cherry', 'banana'}

In [2]:
set ={}
print(set)

{}

In [3]:
set = {"apple","cherry","banana","apple"}
print(set)

{'cherry', 'apple', 'banana'}

In [10]:
thisset = {"apple","cherry","banana",1,3,}
print(thisset)

{1, 3, 'apple', 'cherry', 'banana'}

In [13]:
thisset = {"apple","cherry","banana", True ,1,3,False}
print(thisset)

{False, True, 3, 'apple', 'cherry', 'banana'}

In [14]:
thisset = {"apple","cherry","banana", True ,1,3,False}
print(len(thisset))

6

In [16]:
#data types

set1 = {"apple","cherry","banana"}
set2 = {1,2,3,4,5,6,7,8,}
set3 = (True ,False ,False )
print(set1)
print(set2)
print(set3)

thisset = {"apple","cherry","banana", True ,1,3,False}
print(thisset)

{'cherry', 'apple', 'banana'}
{1, 2, 3, 4, 5, 6, 7, 8}
(True, False, False)
{False, True, 3, 'apple', 'cherry', 'banana'}

In [21]:
# type ()

set1 = {"apple","cherry","banana"}
set2 = {1,2,3,4,5,6,7,8,}
set3 = (True ,False ,False )
print(set1)
print(set2)
print(set3)
print(type(set1))
print(type(set2))
print(type(set3))

{'cherry', 'apple', 'banana'}
{1, 2, 3, 4, 5, 6, 7, 8}
(True, False, False)
<class 'set'>
<class 'set'>
<class 'tuple'>

In [26]:
# constructor()
thisset = (("apple","cherry","banana", True ,1,3,False))
print(thisset)

thisset = (("apple","cherry","banana")) 
print(thisset)

('apple', 'cherry', 'banana', True, 1, 3, False)
('apple', 'cherry', 'banana')

In [30]:
# add ()

thisset = {"apple","cherry","banana"}
thisset.add("orange")
print(thisset)

thisset = {"apple","cherry","banana"}
thisset.add(2)
print(thisset)

thisset = {"apple","cherry","banana"}
thisset.add(True)
print(thisset)

{'cherry', 'orange', 'apple', 'banana'}
{'cherry', 2, 'apple', 'banana'}
{'cherry', True, 'apple', 'banana'}

In [36]:
# update ()
thisset = {"apple","cherry","banana"}
tropical = {"pineapple","mango","papaya"}
thisset.update(tropical)         
print(thisset)

thisset = {2,7,8,9,0,5,4,}
tropical = {"pineapple","mango","papaya"}
thisset.update(tropical)         
print(thisset)

thisset = {"apple","cherry","banana"}
tropical = {True,"mango",False}
thisset.update(tropical)         
print(thisset)

{'mango', 'apple', 'papaya', 'cherry', 'pineapple', 'banana'}
{0, 2, 4, 5, 'mango', 7, 8, 9, 'pineapple', 'papaya'}
{False, True, 'mango', 'apple', 'cherry', 'banana'}

In [39]:
# remove(),discard()
thisset = {"apple","cherry","banana"}
thisset.remove("cherry")         
print(thisset)

thisset = {"apple","cherry","banana"}
thisset.discard("apple")         
print(thisset)

{'apple', 'banana'}
{'cherry', 'banana'}

In [44]:
# pop ()

thisset = {"apple","cherry","banana", True ,1,3,False}
x = thisset.pop()
print(thisset)
print(x)

{True, 3, 'apple', 'cherry', 'banana'}
False

In [45]:
# clear ()

thisset = {"apple","cherry","banana"}
thisset.clear()
print(thisset)

set()

In [52]:
# union ()

set1 = {1,2,3,4,5,6,7,8,9}
set2 = {"a","b","c","d"}
set3 = {"venu","mani","mohan","nani"}
set4 = {"apple","cherry","banana", True ,1,3,False}

print(set1 | set2)
print(set2 | set3)
print(set3 | set4)
print(set4 | set1)
print(set4 | set3)
print(set2 | set4)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'c', 'd', 'a', 'b'}
{'venu', 'c', 'mohan', 'd', 'a', 'nani', 'b', 'mani'}
{False, True, 'venu', 3, 'apple', 'cherry', 'mohan', 'nani', 'banana', 'mani'}
{False, True, 2, 3, 4, 5, 'apple', 6, 7, 'cherry', 8, 9, 'banana'}
{False, True, 'venu', 3, 'apple', 'cherry', 'mohan', 'mani', 'nani', 'banana'}
{False, True, 'c', 3, 'apple', 'cherry', 'd', 'a', 'b', 'banana'}

In [56]:
#intersection()

set1 = {1,2,3,4,5,6,7,8,9,"a","b","d"}
set2 = {"a","b","c","d",1,2,3,4,5,6,7,}
set3 = {"venu","mani","mohan","nani", True,1,3,}
set4 = {"apple","cherry","banana", True ,1,3,False,"venu","mohan"}

print(set1 & set2)
print(set2 & set3)
print(set3 & set4)
print(set4 & set1)
print(set4 & set3)
print(set2 & set4)

{1, 2, 3, 4, 5, 6, 7, 'd', 'a', 'b'}
{True, 3}
{True, 'venu', 3, 'mohan'}
{True, 3}
{True, 'venu', 3, 'mohan'}
{True, 3}

In [57]:
# difference ()

set1 = {1,2,3,4,5,6,7,8,9,"a","b","d"}
set2 = {"a","b","c","d",1,2,3,4,5,6,7,}
set3 = {"venu","mani","mohan","nani", True,1,3,}
set4 = {"apple","cherry","banana", True ,1,3,False,"venu","mohan"}

print(set1 - set2)
print(set2 - set3)
print(set3 - set4)
print(set4 - set1)
print(set4 - set3)
print(set2 - set4)

{8, 9}
{2, 'c', 4, 5, 6, 7, 'd', 'a', 'b'}
{'nani', 'mani'}
{False, 'venu', 'apple', 'cherry', 'mohan', 'banana'}
{False, 'cherry', 'apple', 'banana'}
{2, 'c', 4, 5, 6, 7, 'd', 'a', 'b'}

In [58]:
# set symmetric()

set1 = {1,2,3,4,5,6,7,8,9,"a","b","d"}
set2 = {"a","b","c","d",1,2,3,4,5,6,7,}
set3 = {"venu","mani","mohan","nani", True,1,3,}
set4 = {"apple","cherry","banana", True ,1,3,False,"venu","mohan"}

print(set1 ^ set2)
print(set2 ^ set3)
print(set3 ^ set4)
print(set4 ^ set1)
print(set4 ^ set3)
print(set2 ^ set4)

{'c', 8, 9}
{2, 'c', 4, 5, 6, 7, 'nani', 'b', 'mani', 'venu', 'mohan', 'd', 'a'}
{False, 'apple', 'cherry', 'mani', 'nani', 'banana'}
{False, 2, 4, 5, 6, 7, 8, 9, 'venu', 'apple', 'cherry', 'mohan', 'd', 'a', 'b', 'banana'}
{False, 'apple', 'cherry', 'nani', 'banana', 'mani'}
{False, 'venu', 'c', 2, 4, 'apple', 5, 6, 'cherry', 7, 'mohan', 'd', 'a', 'b', 'banana'}